<div class="case-section__layout">
  <div class="layout-page layout-page-spaces">
    <div class="case-section__align">
      <div class="case-section__caption">
        @@if(context.title) {
        <h2 class="case-section__title@@if(context.titleMod){ case-section__title_@@titleMod} cst">
          @@for (var i = 0; i < title.length; i++) { `+title[i]+` } </h2> } </div> <div
            class="case-section__description">
            <div class="case-section__count case-section__numberGame">@@count</div>
            @@if(context.subTitle) {
            <h3 class="case-section__sub-title cst">
              @@for (var i = 0; i < subTitle.length; i++) { `+subTitle[i]+` } </h3> <div class="case-section__more cst">
                @@gameText
      </div>
      <div class="animate_button">
        <a href="#" class="case-section__button">ABOUT</a>
      </div>
      }
    </div>
    <div class="case-section__figure">
      @@if(context.imgSrc1) {
      <div
        class="case-section__figure-img@@if(context.social1){ case-section__figure-img_social1 }@@if(context.social2){ case-section__figure-img_social2 }@@if(context.social3){ case-section__figure-img_social3 }@@if(context.social4){ case-section__figure-img_social4 }@@if(context.social5){ case-section__figure-img_social5 }@@if(context.social6){ case-section__figure-img_social6 }@@if(context.social7){ case-section__figure-img_social7 }@@if(context.social8){ case-section__figure-img_social8 }@@if(context.social9){ case-section__figure-img_social9 }@@if(context.social10){ case-section__figure-img_social10 }@@if(context.social11){ case-section__figure-img_social11 }@@if(context.social12){ case-section__figure-img_social12 }">
        <img src="@@imgSrc1" alt="image description" />
      </div>
      }
      <div class="mst case-section__download download">
        <a href="@@googlePlay" class="download__google" rel="noreferrer noopener" target="_blank">
          <img src="./img/google_play.svg" alt="download with google play">
        </a>
        <a href="@@appStore" class="download__app-store" rel="noreferrer noopener" target="_blank">
          <img src="./img/app_store.svg" alt="download with app store">
        </a>
      </div>
    </div>
    <div class="case-section__rectangle"></div>
  </div>

  <div
    class="main-section__footer @@if(context.editColor){ editColorFooter } @@if(context.social1){ second_footer } @@if(context.social2){ third_footer } @@if(context.social3){ fourth_footer }">
    <div class="main__footer-site">
      © HIGH CORE GAMES 2020
    </div>
    <a href="#" class="main__footer-clover main__footer-site main__footer-privacy">
      PRIVACY POLICE
    </a>
    <a href="https://clover.by/" class="main__footer-site main__footer-clover" rel="noreferrer noopener"
      target="_blank">
      Clover.by
    </a>
  </div>
</div>
</div>